# Solutions for Homework 1 - Data types and control flow
**Due: Sep 8** 

***Total Points: 100***

For full points, your code
- must run without errors
- must by *pythonic*
- must be easily understandable, and well documented (either through inline comments or markdown).

Run the code blocks under each question before attempting the solution.

In some questions, you are asked to edit / fix the given code. For these questions, you can edit in place. You do not need to copy the original code to a new block.

Remember to export your Jupyter notebook as a PDF file and upload both to Canvas.
```
File > Save and Export Notebook As... > PDF
```

## Question 1

*10 points*

Using your knowledge of Python types, briefly explain why `float` is not ideal for representing currency. What would be a better of representing $173.42 with a python variable?

**Answer:**

Due to errors with base-2 `float`, representing base-10 decimals as a `float` is problematic as there isn't an exact representation for most decimal fractions between 0.01 and 0.09. These errors will propagate through arithmatic operations on numbers, making it an unsafe option for representing monetary values in dollars.

A better option to represent currency is an `int`, by converting dollars to cents. The value of $173.42 is better represented as 17,342 cents.

Another option is using the `decimal` data type.

## Question 2

*3 points each, 15 total*

Fix the following pieces of code. Use inline comments to describe the changes.

### Question 2.1

In [ ]:
a = "45.4"
b = "206.3"
sum = a + b
print("The total is {sum}")

**Solution:**

In [2]:
# Fixed types of a and b to be floats instead of strings.
a = 45.4
b = 206.3

# Replaced the variable name `sum` with `total` to avoid overwriting the `sum` method`.
total = a + b

# Added f before the string to denote an f-string and added a fixed decimal precision
print(f"The total is {total:.1f}")

The total is 251.7

### Question 2.2

In [ ]:
numbers = [500, 600, 700, 800]
sum(numbers)

**Solution:**

In [ ]:
numbers = [500, 600, 700, 800]
sum(numbers)
# No change required here. Removing the `sum` variable above fixes the problem
# Note: You have to clear the variables in Jupyter if you run the problematic code block.

### Question 2.3

In [ ]:
x = 20
y = 100
if x > y:
    print("First number is greater.")
    else:
        print("First number is not greater")

**Solution:**

In [ ]:
x = 20
y = 100
if x > y:
    print("First number is greater.")
# fixed indentation of `else` block
else: 
    print("First number is not greater")

### Question 2.4

In [ ]:
i = 0
print("Non-multiples of 3:")
while i < 10:
    i += 1
    if i % 3 == 0:
        break
    print(i)

print("All numbers between 1 and 10 (inclusive), except multiples of 3, are printed.")

**Solution:**

In [ ]:
i = 0
print("Non-multiples of 3:")
while i < 10:
    i += 1
    if i % 3 == 0:
        # changed `break` to `continue`
        continue
    print(i)

print("All numbers between 1 and 10 (inclusive), except multiples of 3, are printed.")

### Question 2.5

In [ ]:
numbers = list(range(1,10))
print("Even numbers:")
for number in numbers:
    if number % 2 == 0:
        print(number)
    else:
        
print("Only even numbers are printed")

**Solution:**

In [ ]:
numbers = list(range(1,10))
print("Even numbers:")
for number in numbers:
    if number % 2 == 0:
        print(number)
    else:
        # added `pass` statement to avoid empty `else` block
        pass
print("Only even numbers are printed")

## Question 3

*5 points each, 10 total*

In [ ]:
sec_teams = (
    "Alabama", "Ole Miss", "Arkansas", "Mississippi State",
    "Texas A&M", "Auburn", "LSU", "Georgia", "Kentucky", "Tennessee",
    "Missouri", "South Carolina", "Florida", "Vanderbilt"
)

**Solutions' Note: There are two one-line options for both questions**

**Question:**

Reverse the tuple `sec_teams` (in as few lines of code as possible)

**Solutions:**

In [ ]:
# Using the `reversed` method
tuple(reversed(list(sec_teams)))

In [ ]:
# Using the [::-1] slice
sec_teams[::-1]

**Question:**

Reverse the tuple including only SEC East teams (Georgia - Vanderbilt in the original `sec_teams` tuple)

**Solutions:**

In [ ]:
# Similar to the first solution above, but adding the `start` index 7
tuple(reversed(list(sec_teams[7:])))

In [ ]:
# Similar to the second solution above, but adding the `stop` index 6 and `step` -1
sec_teams[:6:-1]

## Question 4

*10 points*

Edit the second code block (containg the `if` and `else` statements) and simplify it to a single line of code.
The code should be valid for all numerical values of `a` and `b`, assuming that `a != b`

In [ ]:
# Try different values of `a` and `b` to test your code
a = 20
b = 45

In [ ]:
# This is the block you need to reduce to one line
if a < b:
    minimum_value = a
else:
    minimum_value = b

In [ ]:
minimum_value

**Solution:**

In [ ]:
# Using ternary operators / conditional expressions
minimum_value = a if a < b else b

In [ ]:
minimum value

## Question 5

*15 points*

In [3]:
sec_east = (
    "Georgia", "Kentucky", "Tennessee", "Missouri",
    "South Carolina", "Florida", "Vanderbilt"
)
sec_west = (
    "Alabama", "Ole Miss", "Arkansas",
    "Mississippi State", "Texas A&M", "Auburn", "LSU"
)

**Question:**

From the two tuples (`sec_east` and `sec_west`), create a list of 14 dictionaries, where each dictionary has the keys and values shown in the `example` below.

("SEC" is the conference, "East" and "West" are the two divisions, and all items in both the tuples are the teams)

In [ ]:
example = {
    "Team": "Florida",
    "Conference": "SEC",
    "Division": "East"
}
example

**Solution:**

In [4]:
# Using dictionary comprehensions to create the two lists
east_teams = [{"Team": team, "Conference": "SEC", "Division": "East"} for team in sec_east]
west_teams = [{"Team": team, "Conference": "SEC", "Division": "West"} for team in sec_west]

# Concatenating (adding) the two lists
all_teams = east_teams + west_teams
all_teams

[{'Team': 'Georgia', 'Conference': 'SEC', 'Division': 'East'},
 {'Team': 'Kentucky', 'Conference': 'SEC', 'Division': 'East'},
 {'Team': 'Tennessee', 'Conference': 'SEC', 'Division': 'East'},
 {'Team': 'Missouri', 'Conference': 'SEC', 'Division': 'East'},
 {'Team': 'South Carolina', 'Conference': 'SEC', 'Division': 'East'},
 {'Team': 'Florida', 'Conference': 'SEC', 'Division': 'East'},
 {'Team': 'Vanderbilt', 'Conference': 'SEC', 'Division': 'East'},
 {'Team': 'Alabama', 'Conference': 'SEC', 'Division': 'West'},
 {'Team': 'Ole Miss', 'Conference': 'SEC', 'Division': 'West'},
 {'Team': 'Arkansas', 'Conference': 'SEC', 'Division': 'West'},
 {'Team': 'Mississippi State', 'Conference': 'SEC', 'Division': 'West'},
 {'Team': 'Texas A&M', 'Conference': 'SEC', 'Division': 'West'},
 {'Team': 'Auburn', 'Conference': 'SEC', 'Division': 'West'},
 {'Team': 'LSU', 'Conference': 'SEC', 'Division': 'West'}]

**Question:**

Next, iterate through the list and dictionaries to print all keys and values for "East" division teams only. Separate teams by at least one blank line.

**Solution:**

In [7]:
# Iterating through the list
for team in all_teams:
    
    # Checking if the team is in the "East" division
    if team["Division"] == "East":
        
        # Iterating over the dictionary items
        for key, value in team.items():
            
            # Printing
            print(f"{key}: {value}")
        
        # Printing a new line
        print("")
        # The empty string is because each `print` statement starts a new line
        # If you used `print("\n")`, you would get two new lines

Team: Georgia
Conference: SEC
Division: East

Team: Kentucky
Conference: SEC
Division: East

Team: Tennessee
Conference: SEC
Division: East

Team: Missouri
Conference: SEC
Division: East

Team: South Carolina
Conference: SEC
Division: East

Team: Florida
Conference: SEC
Division: East

Team: Vanderbilt
Conference: SEC
Division: East

## Question 6

*15 points*

Always expect the user of your code will not use your code as intended. Hence, you must ensure that the code below fixes incorrect user inputs.

For this example, treat the set `user_inputs` as all examples of user input. The inputs that must satisfy the condition are denoted in the comments.

Also include in your code: a list and a count of the 8 inputs that satisfy the "You are currently in Gainesville" condition

You are allowed to restructure the code in any way you need to. You are NOT REQUIRED to use the `input()` function to test the code.

In [8]:
user_inputs = {
    "Gainesville", "gainesville", "GAINESVILLE", "gAiNeSvIlLe", "   Gainesville  ", # These 5 should satisfy the condition
    "New York", "Chicago", "Boston" # These 3 should not
}

In [ ]:
user_input = input("Enter your current city: ")

if user_input == "Gainesville":
    print("You are currently in Gainesville")
else:
    print("You are NOT currently in Gainesville")

**Solution:**

In [9]:
# Inititaing a list of satisfied inputs for counting and printing later
satisfied = []

# For loop to test all user inputs
for user_input in user_inputs:
    
    # strip() and lower() methods to remove upper-case and white-space issues
    if user_input.strip().capitalize() == "Gainesville":
        print("You are currently in Gainesville")
        
        # Adding inputs that satisfy the condition to the list
        satisfied.append(user_input)
    else:
        print("You are NOT currently in Gainesville")

# Printing list of satisfied inputs
print(f"\nInputs that satisfied the condition: {satisfied}")

# Printing the length of `satisfied`
print(f"Number of inputs that satisfied the condition: {len(satisfied)}")

You are NOT currently in Gainesville
You are NOT currently in Gainesville
You are currently in Gainesville
You are currently in Gainesville
You are currently in Gainesville
You are NOT currently in Gainesville
You are currently in Gainesville
You are currently in Gainesville

Inputs that satisfied the condition: ['gainesville', 'gAiNeSvIlLe', 'GAINESVILLE', '   Gainesville  ', 'Gainesville']
Number of inputs that satisfied the condition: 5

## Question 7

*15 points*

The `zip()` method aggregates iterables into tuples, as follows:

In [ ]:
students = ["John", "Jane"]
ages = [20, 22]
residences = ["Rawlings Hall", "The Continuum"]

zipped = zip(students, ages, residences)
zipped

A zipped object is not automatically a list, but a unique iterator. To print it, you need to convert it to a `list` or `tuple`:

In [ ]:
zipped_list = list(zipped)
zipped_list

This can be used to simply a MATLAB-style `for` loop:

In [ ]:
for i in range(len(students)):
    print(f"{students[i]} is {ages[i]} years old, and lives in {residences[i]}.")

to this much more elegant form, using the `zipped` object (as it is an iterable):

In [ ]:
for student, age, residence in zipped:
    print(f"{student} is {age} years old, and lives in {residence}.")

The `*` operator is used to unzip a zipped list and unpack it into individual variables (similar to unpacking a tuple)

In [ ]:
students, ages, residences = zip(*zipped_list)
print(students)
print(ages)
print(residences)

**Question:**

Use the `zip()` method to add the items in the two tuples (`numbers_1` and `numbers_2`) below, to get the `answer` as shown.

In [11]:
numbers_1 = (1, 2, 3)
numbers_2 = (10, 20, 30)

answer = [11, 22, 33]

**Solution:**

***Note: There are multiple options, but the one-line list comprehension options are preferred***

In [12]:
# Inititaing a list
answer = []

# Using zip to pass two values, one from each list
for x, y in zip(numbers_1, numbers_2):
    
    # Adding the sum to the `answer` list
    answer.append(x + y)
answer

[11, 22, 33]

In [13]:
# Same as above, but with list comprehension
[x + y for x, y in zip(numbers_1, numbers_2)]

[11, 22, 33]

In [14]:
# Or using the built-in sum function
[sum(i) for i in zip(numbers_1, numbers_2)]

[11, 22, 33]

## Question 8

*10 points*

Now that you understand how `zip()` works, and how you can iterate over two iterables in a `for` loop, lets discuss the `enumerate()` method. We covered it briefly in class, but let's understand what it really is.

For any iterable, `enumerate()` adds a counter, and returns an iterable of tuples. For example:

In [ ]:
teams = (
    "Alabama", "Ole Miss", "Arkansas", "Mississippi State",
    "Texas A&M", "Auburn", "LSU", "Georgia", "Kentucky", "Tennessee",
    "Missouri", "South Carolina", "Florida", "Vanderbilt"
)
list(enumerate(teams))

So you can think of `enumerate()` as a specialized `zip()` method, where `range(len(teams))` and `teams` are the two iterables being zipped. Of course, `teams` here can be any iterable.

In [ ]:
list(zip(range(len(teams)), teams))

Note that, just like with `zip()`, `enumerate()` returns an iterable, not a `list` or a `tuple`. A constuctor is required to print it as a list, as shown above.

In [ ]:
enumerate(teams)

**Question:**

With this understanding, iterate over `soccer_teams`, which is a list of dictionaries. Add the dictionary's position in the list as a `"League Position"` key in each dictionary. An `example` of the required answer is provided below.

Each dictionary corresponds to a soccer team in the Premier League, and its position in the tuple (remember, lists and tuples are ordered) corresponds to the teams position in the League.

In [ ]:
example = {
    "Team_name": "Arsenal",
    "Stadium": "Emirates Stadium",
    "Position": 1,
}
example

In [15]:
team_names = [
    "Arsenal", "Manchester City", "Tottenham Hotspur",
    "Brighton & Hove Albion", "Leeds United"
]
stadiums = [
    "Emirates Stadium", "City of Manchester Stadium", "Totenham Hotspur Stadium",
    "Falmer Stadium", "Elland Road"
]
soccer_teams = [
    {"Team_name": team_name, "Stadium": stadium} for team_name, stadium in zip(team_names, stadiums)
]
soccer_teams

[{'Team_name': 'Arsenal', 'Stadium': 'Emirates Stadium'},
 {'Team_name': 'Manchester City', 'Stadium': 'City of Manchester Stadium'},
 {'Team_name': 'Tottenham Hotspur', 'Stadium': 'Totenham Hotspur Stadium'},
 {'Team_name': 'Brighton & Hove Albion', 'Stadium': 'Falmer Stadium'},
 {'Team_name': 'Leeds United', 'Stadium': 'Elland Road'}]

**Solution:**

In [16]:
# Using `enumerate` to ge the position in the list
for idx, soccer_team in enumerate(soccer_teams):
    
    # Adding `idx + 1` (due to python's zero-indexing) as the "Position"
    soccer_team["Position"] = idx + 1

soccer_teams

[{'Team_name': 'Arsenal', 'Stadium': 'Emirates Stadium', 'Position': 1},
 {'Team_name': 'Manchester City',
  'Stadium': 'City of Manchester Stadium',
  'Position': 2},
 {'Team_name': 'Tottenham Hotspur',
  'Stadium': 'Totenham Hotspur Stadium',
  'Position': 3},
 {'Team_name': 'Brighton & Hove Albion',
  'Stadium': 'Falmer Stadium',
  'Position': 4},
 {'Team_name': 'Leeds United', 'Stadium': 'Elland Road', 'Position': 5}]

In [17]:
# But even better, you can use the `start` keyword argument for `emumerate
for idx, soccer_team in enumerate(soccer_teams, start=1):
    
    # Adding `idx + 1` (due to python's zero-indexing) as the "Position"
    soccer_team["Position"] = idx

soccer_teams

[{'Team_name': 'Arsenal', 'Stadium': 'Emirates Stadium', 'Position': 1},
 {'Team_name': 'Manchester City',
  'Stadium': 'City of Manchester Stadium',
  'Position': 2},
 {'Team_name': 'Tottenham Hotspur',
  'Stadium': 'Totenham Hotspur Stadium',
  'Position': 3},
 {'Team_name': 'Brighton & Hove Albion',
  'Stadium': 'Falmer Stadium',
  'Position': 4},
 {'Team_name': 'Leeds United', 'Stadium': 'Elland Road', 'Position': 5}]