# Homework 1 - Data types and control flow
**Due: Sep 8** 

***Total Points: 100***

For full points, your code
- must run without errors
- must by *pythonic*
- must be easily understandable, and well documented (either through inline comments or markdown).

Run the code blocks under each question before attempting the solution.

In some questions, you are asked to edit / fix the given code. For these questions, you can edit in place. You do not need to copy the original code to a new block.

Remember to export your Jupyter notebook as a PDF file and upload both to Canvas.
```
File > Save and Export Notebook As... > PDF
```

## Question 1

*10 points*

Using your knowledge of Python types, briefly explain why `float` is not ideal for representing currency. What would be a better of representing $173.42 with a python variable?

**Answer:**

## Question 2

*3 points each, 15 total*

Fix the following pieces of code. You can edit the code in place, you do not need to copy the original code to a new block.

Use inline comments to describe the issue / changes.

### Question 2.1

In [ ]:
a = "45.4"
b = "206.3"
sum = a + b
print("The total is {sum}")

### Question 2.2

In [ ]:
numbers = [500, 600, 700, 800]
sum(numbers)

### Question 2.3

In [ ]:
x = 20
y = 100
if x > y:
    print("First number is greater.")
    else:
        print("First number is not greater")

### Question 2.4

In [ ]:
i = 0
print("Non-multiples of 3:")
while i < 10:
    i += 1
    if i % 3 == 0:
        break
    print(i)

print("All numbers between 1 and 10 (inclusive), except multiples of 3, are printed.")

### Question 2.5

In [ ]:
numbers = list(range(1,10))
print("Even numbers:")
for number in numbers:
    if number % 2 == 0:
        print(number)
    else:
        
print("Only even numbers are printed")

## Question 3

*5 points each, 10 total*

In [ ]:
sec_teams = (
    "Alabama", "Ole Miss", "Arkansas", "Mississippi State",
    "Texas A&M", "Auburn", "LSU", "Georgia", "Kentucky", "Tennessee",
    "Missouri", "South Carolina", "Florida", "Vanderbilt"
)

**Question:**

Reverse the tuple `sec_teams` (in as few lines of code as possible)

**Solution:**

**Question:**

Reverse the tuple including only SEC East teams (Georgia - Vanderbilt in the original `sec_teams` tuple)

**Solution:**

## Question 4

*10 points*

Edit the second code block (containg the `if` and `else` statements) and simplify it to a single line of code.
The code should be valid for all numerical values of `a` and `b`, assuming that `a != b`

In [ ]:
# Try different values of `a` and `b` to test your code
a = 20
b = 45

In [ ]:
# This is the block you need to reduce to one line
if a < b:
    minimum_value = a
else:
    minimum_value = b

In [ ]:
minimum_value

## Question 5

*15 points*

In [ ]:
sec_east = (
    "Georgia", "Kentucky", "Tennessee", "Missouri",
    "South Carolina", "Florida", "Vanderbilt"
)
sec_west = (
    "Alabama", "Ole Miss", "Arkansas",
    "Mississippi State", "Texas A&M", "Auburn", "LSU"
)

**Question:**

From the two tuples (`sec_east` and `sec_west`), create a list of 14 dictionaries, where each dictionary has the keys and values shown in the `example` below.

("SEC" is the conference, "East" and "West" are the two divisions, and all items in both the tuples are the teams)

In [ ]:
example = {
    "Team": "Florida",
    "Conference": "SEC",
    "Division": "East"
}
example

**Solution:**

**Question:**

Next, iterate through the list and dictionaries to print all keys and values for "East" division teams only. Separate teams by at least one blank line.

**Solution:**

## Question 6

*15 points*

Always expect the user of your code will not use your code as intended. Hence, you must ensure that the code below fixes incorrect user inputs.

For this example, treat the set `user_inputs` as all examples of user input. The inputs that must satisfy the condition are denoted in the comments.

Also include in your code: a list and a count of the 8 inputs that satisfy the "You are currently in Gainesville" condition

You are allowed to restructure the code in any way you need to. You are NOT REQUIRED to use the `input()` function to test the code.

In [ ]:
user_inputs = {
    "Gainesville", "gainesville", "GAINESVILLE", "gAiNeSvIlLe", "   Gainesville  ", # These 5 should satisfy the condition
    "New York", "Chicago", "Boston" # These 3 should not
}

In [ ]:
user_input = input("Enter your current city: ")

if user_input == "Gainesville":
    print("You are currently in Gainesville")
else:
    print("You are NOT currently in Gainesville")

**Solution:**

## Question 7

*15 points*

The `zip()` method aggregates iterables into tuples, as follows:

In [1]:
students = ["John", "Jane"]
ages = [20, 22]
residences = ["Rawlings Hall", "The Continuum"]

zipped = zip(students, ages, residences)
zipped

A zipped object is not automatically a list, but a unique iterator. To print it, you need to convert it to a `list` or `tuple`:

In [2]:
zipped_list = list(zipped)
zipped_list

[('John', 20, 'Rawlings Hall'), ('Jane', 22, 'The Continuum')]

This can be used to simply a MATLAB-style `for` loop:

In [3]:
for i in range(len(students)):
    print(f"{students[i]} is {ages[i]} years old, and lives in {residences[i]}.")

John is 20 years old, and lives in Rawlings Hall.
Jane is 22 years old, and lives in The Continuum.

to this much more elegant form, using the `zipped` object (as it is an iterable):

In [5]:
for student, age, residence in zipped_list:
    print(f"{student} is {age} years old, and lives in {residence}.")

John is 20 years old, and lives in Rawlings Hall.
Jane is 22 years old, and lives in The Continuum.

The `*` operator is used to unzip a zipped list and unpack it into individual variables (similar to unpacking a tuple)

In [ ]:
students, ages, residences = zip(*zipped_list)
print(students)
print(ages)
print(residences)

**Question:**

Use the `zip()` method to add the items in the two tuples (`numbers_1` and `numbers_2`) below, to get the `answer` as shown.

In [ ]:
numbers_1 = (1, 2, 3)
numbers_2 = (10, 20, 30)

answer = [11, 22, 33]

**Solution:**

## Question 8

*10 points*

Now that you understand how `zip()` works, and how you can iterate over two iterables in a single `for` loop, lets discuss the `enumerate()` method. We covered it briefly in class, but let's understand what it really is.

For any iterable, `enumerate()` adds a counter, and returns an iterable of tuples. For example:

In [ ]:
teams = (
    "Alabama", "Ole Miss", "Arkansas", "Mississippi State",
    "Texas A&M", "Auburn", "LSU", "Georgia", "Kentucky", "Tennessee",
    "Missouri", "South Carolina", "Florida", "Vanderbilt"
)
list(enumerate(teams))

So you can think of `enumerate()` as a specialized `zip()` method, where `range(len(teams))` and `teams` are the two iterables being zipped. Of course, `teams` here can be any iterable.

In [ ]:
list(zip(range(len(teams)), teams))

Note that, just like with `zip()`, `enumerate()` returns an iterable, not a `list` or a `tuple`. A constuctor is required to print it as a list, as shown above.

In [ ]:
enumerate(teams)

**Question:**

With this understanding, iterate over `soccer_teams`, which is a list of dictionaries. Add the dictionary's position in the list as a `"League Position"` key in each dictionary. An `example` of the required answer is provided below.

Each dictionary corresponds to a soccer team in the Premier League, and its position in the tuple (remember, lists and tuples are ordered) corresponds to the teams position in the League.

In [ ]:
example = {
    "Team_name": "Arsenal",
    "Stadium": "Emirates Stadium",
    "Position": 1,
}
example

In [ ]:
team_names = [
    "Arsenal", "Manchester City", "Tottenham Hotspur",
    "Brighton & Hove Albion", "Leeds United"
]
stadiums = [
    "Emirates Stadium", "City of Manchester Stadium", "Totenham Hotspur Stadium",
    "Falmer Stadium", "Elland Road"
]
soccer_teams = [
    {"Team_name": team_name, "Stadium": stadium} for team_name, stadium in zip(team_names, stadiums)
]
soccer_teams

**Solution:**