# Week 2 - September 1 - Functions

**Functions** are actions, and often named using verbs.

Next week (Thursday, Sep 8), we will look at classes, which are objects, and are named using nouns.

For both, some are built-in: `print`, `input`

But you can also define your own, or import them from the Standard Library or third-party libraries.

## Arguments

Many functions take **arguments**. In our favorite example, `"Hello world!"` is the argument for the `print` function.

In [1]:
print("Hello world!")

Hello world!

Functions can take multiple arguments, some may be **positional arguments** (`args`), while others may be **keyword arguments** (`kwargs`):

`function(args, *args, kwargs, **kwargs)`

`*` before an argument name denotes that it is an arbitrary argument, i.e., it can take an arbitrary number of items.

For `*args`, the function will recieve a *tuple* of those items, while for `**kwargs`, the function will receive a dictinoary.

Let's look at the `print` function:

`print(*arg(s), sep=" ", end="\n", file=sys.stdout, flush=False)`

In [2]:
name = "Salil"
print("Hello", name, "!")

Hello Salil !

In [ ]:
print("Hello", name, "!", sep="")

Keyword arguments can have default values. This subset of keyword arguments are called **default arguments**

For the `print` function, the default values for `sep` in `" "`, and for `end` is `"\n"`

**Optional arguments** are a further subset of default arguments. For these arguments, the default value is usually `None`. They can be disregarded if they are not provided.

In [3]:
print("Hello", name, "!", sep="")
print("Hello", name, "!", sep="")

HelloSalil!
HelloSalil!

In [4]:
print("Hello", name, "!", sep="", end="")
print("Hello", name, "!", sep="", end="")

HelloSalil!HelloSalil!

In [5]:
print(sep="    ", name)

SyntaxError: positional argument follows keyword argument (3710170346.py, line 1)

***Positinal arguments must come before keyword arguments, and the respective arbitrary arguments go last.***

`function(args, *args, kwargs, **kwargs)`

You don't need to memorize every function's arguments and return values. Use the Help features in Jupyer and Spyder, your favorite search engine, or the `help` function.

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Return values

Many functions also **return** values:

In [7]:
name = input("What is your name? ")
name

What is your name?  Salil

'Salil'

You do not have to assign the returned value to a variable. It can be discarded if you do not need it.

In [8]:
any_list = ["UF", "FSU", "UCF", "USF", "UNF", "UWF"]
removed_item = any_list.pop(1)
removed_item

'FSU'

In [9]:
any_list

['UF', 'UCF', 'USF', 'UNF', 'UWF']

In [ ]:
any_list = ["UF", "FSU", "UCF", "USF", "UNF", "UWF"]
any_list.pop(1)
any_list

## Defining your own function

`def function(args, *args, kwargs, **kwargs)`

In [10]:
def add_two_numbers(x, y):
    z = x + y
    
    return z


# Note the blank line before the return statement.
# It's not required, but it's good practice for readability.

You can **call** any function that has been defined in your namespace.

In [11]:
add_two_numbers(10, 20.5)

# Comment

30.5

In Jupyter notebooks, just like with variables, the return value(s) of a function are automaticall printed if the function is called (without assignment) in the last line of the code block. Comments and blank lines are ignored by the Python intepreter.

However, as discussed above, you can assign the returned value to a variable.

In [12]:
def square_number(x):
    z = x**2
    
    return z


squared = square_number(15)
squared

# Note the two blank lines after the function definition block.
# It's not required, but it's good practice for readability.

225

You can shorten the code above as:

In [13]:
def square_number(x):
    
    return x**2 + 2*x + 4


squared = square_number(15)
squared

225

Any data type can be passed to a function:

In [16]:
def print_list(any_list):
    for item in any_list:
        print(item)
        
    return None
        
    
print_list(["USA", "Canada", "Mexico"])

USA
Canada
Mexico

### Return values

You don't need the `return None` - not having it will return nothing anyway. However, it's good practice to include it for code readability.

In [17]:
def print_list(any_list):
    for item in any_list:
        print(item)

print_list(["USA", "Canada", "Mexico"])

USA
Canada
Mexico

However, once the python interpreter encounters the `return` keyword, it exits out of the function and returns the value.

In [19]:
def is_even(number):
    if number % 2 == 0:
        
        return True
    
    else:
        
        return False
    
    print("This will never be printed.")


is_even(3)

This will never be printed.

A function can return any data type:

In [21]:
def capitalize_list(any_list):
    new_list = []
    for item in any_list:
        new_list.append(item.upper())
        
    return new_list
        
    
capitalize_list(["england", "scotland", "wales"])

['ENGLAND', 'SCOTLAND', 'WALES']

However, if returning multiple items, they are packed into a tuple:

In [23]:
def double_and_square(number):
    double = number*2
    square = number**2
    
    return double, square


double_and_square(5)

(10, 25)

This should help explain Jupyter's behavior when two variables are in the last line of a code block:

In [24]:
a = 10
b = 20

a, b

(10, 20)

The tuple can be easily unpacked to extract individual values:

In [25]:
double, square = double_and_square(7)
print(double)
print(square)

14
49

### Examples with types of arguments

**With arbitrary arguments:**

`*args` are automatically passed to the function as a *tuple*.

In [27]:
def multiply_numbers(*numbers):
    print(numbers)
    
    answer = 1
    for number in numbers:
        answer *= number # answer = answer * number
    
    return answer

multiply_numbers(5)

(5,)

5

**With keyword arguments:**

In [28]:
def print_location(name, city, state):
    print(f"{name} lives in {city}, {state}.")
    
    return None

ret = print_location(state="FL", name="Salil", city="Gainesville")

Salil lives in Gainesville, FL.

**With arbitrary keyword arguments:**

`**kwargs` are automatically passed to the function as a *dictionary*.

In [29]:
def print_team(**team):
    print(team) # **kwargs are passed an a dictionary
    
    # Note the different quotation marks:
    # "" for the f-string and '' for the dict keys
    print(f"My team is {team['name']}, from {team['location']}.")
    
    return None
    
print_team(name="Arsenal", location="London")

{'name': 'Arsenal', 'location': 'London'}
My team is Arsenal, from London.

**Setting default values:**

In [30]:
def print_multiple_times(text, multiple=5):
    # Note the _ in the for loop
    # We don't need the iterable to be assigned to a variable
    for _ in range(multiple):
        print(text)
        
    return None

print_multiple_times("Hello")

Hello
Hello
Hello
Hello
Hello

In [31]:
print_multiple_times("Hello", multiple=3)

Hello
Hello
Hello

## Lambda functions

`lambda arguments : expression`

Lambda functions are small anonymous functions, created using the `lambda` keyword. Consider the simple functions we had above to double or square a number

In [32]:
double = lambda x : x*2
double(5)

10

Lambda functions can take multiple arguments

In [33]:
added = lambda x, y : x + y
added(10, 20)

30

And just like the other functions, the returned value can be assigned to a variable:

In [34]:
double_items = lambda l : [x*2 for x in l]

any_list = [1, 2, 3]
new_list= double_items(any_list)
new_list

[2, 4, 6]

***Lambda functions are best used when a small function is needed for a short time.***

## Scope

***Note: Restart the kernel before proceeding.***

Variables defined inside a function are **local variables**, and are limited to that function only.

In [35]:
def func_1():
    x = 10
    y = 20
    z = 500
    

def func_2():
    a = "Tom"
    b = "Jerry"
    
    print(x)
    
    
func_2()

NameError: name 'x' is not defined

In [36]:
a

10

To access them outside the function, they must be returned back to the global scope.

This allows us to reuse the names for local variables in different functions:

In [37]:
def func_1():
    x = 10
    y = 20
    z = 500
    
    print(x)
    

def func_2():
    x = "Tom"
    y = "Jerry"
    
    print(x)
    

func_1()
func_2()

10
Tom

Variables created outside of a function are **global variables**. They can be accessed inside any function.

In [38]:
def func_g():
    print(g)

    
g = "Global variable"

func_g()

Global variable

If you use the same variable name in the global scope as well as a local scope, Python will treat them separately.

In [39]:
def func_s():
    s = "Local scope"
    print(s)

    
s = "Global scope"
print(s)

Global scope

In [40]:
func_s()

Local scope

In [41]:
s

'Global scope'

So it may seem like global variables are "better", and there are times when you want to use them, but they can also lead to bugs.

To create a global variable from a local scope (i.e., within a function), you can use the **`global` keyword** before assigning the variable a value.

In [45]:
k = "Initial value"

def func_k():
    global k
    k = "New value from within the function"

In [46]:
print(k)

Initial value

In [47]:
func_k()   
print(k)

New value from within the function

You can also use the `global` keywork to change the value of a global variable inside a function.

In [48]:
v = 100

def func_v():    
    v = 200

func_v()
v

100

In [49]:
v = 100

def func_v():    
    global v
    v = 200

func_v()
v

200

## Nested functions

In [51]:
def outer_function(text):
    
    def inner_function():
        print(text)
        
        return None
    
    
    text = text.capitalize()
    
    inner_function()
    
    
outer_function("hello world")

Hello world

Notice that the inner function is able to access local variables from the outer_function, just how an outer function can access variables from the global scope.

Also, variables in the inner function do not affect variables in the outer function.

In [52]:
def outer_function():
    
    def inner_function():
        v = 20
        print("2:", v) 
        
        return None
    
    v = 10
    print("1:", v)
    
    inner_function()
    print("3:", v)
    
    
outer_function()

1: 10
2: 20
3: 10

The **`nonlocal` keyword** can be used in a similar way as the `global` keyword, to change the scope of a variable from the inner function to the outerfunction.

In [53]:
def outer_function():
    
    def inner_function():
        nonlocal v
        v = 20
        print("2:", v) 
        
        return v
    
        print("THIS")
    
    v = 10
    print("1:", v)
    
    new_v = inner_function()
    print("3:", v)
    
    return None
    
    
outer_function()

1: 10
2: 20
3: 20

Note that you cannot directly call an inner function from the global scope.

In [54]:
inner_function()

NameError: name 'inner_function' is not defined

## First class functions

Functions in Python are first class objects.

**A function can be assigned to a variable**

In [55]:
def double_number(number):
    
    return number*2


twice = double_number
twice(5)

10

**Functions can be arguments**

In [56]:
def double_number(number):
    
    return number*2


def square_number(number):
    
    return number**2


def do_math(func, number):
    
    return func(number)

In [57]:
do_math(double_number, 7)

14

In [58]:
do_math(square_number, 7)

49

**Functions can return functions**

In [59]:
def create_multiplier(num_1):
    
    def multiplier(num_2):
        
        return num_1*num_2
    
    
    return multiplier

In [61]:
doubler = create_multiplier(2)
doubler(200)

400

In [62]:
tripler = create_multiplier(3)
tripler(50)

150

## Functional programming

### `map`

**Apply a function to every item in an iterable (list, tuple, etc.)**

The following list comprehension:

In [63]:
numbers = [10, 20, 30, 40, 50]
[number*2 for number in numbers]

[20, 40, 60, 80, 100]

can also be achived using `map`:

In [64]:
def double_numbers(x):
    
    return x*2

numbers = [10, 20, 30, 40, 50]
doubled = map(double_numbers, numbers)
doubled

As seen above, this creates a `map` object. To obtain the result as a list, you can use the `list` constructor.

In [65]:
list(doubled)

[20, 40, 60, 80, 100]

You can use lambda functions for shorter syntax, where applicable:

In [66]:
# Square every number in the list
list(map(lambda x: x**2, numbers))

[100, 400, 900, 1600, 2500]

### `filter`

**Filter items in an iterable which satisfy a condition**

The following example of imperative/procedural programming:

In [67]:
numbers = range(1,10)

even_numbers = []
for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)
        
even_numbers

[2, 4, 6, 8]

can also be achieved with functional programming using `filter`:

In [68]:
def is_even(number):
    
    return number % 2 == 0


numbers = range(1,10)
even_numbers = filter(is_even, numbers)
even_numbers

In [69]:
list(even_numbers)

[2, 4, 6, 8]

Or as a lambda function:

In [70]:
# Extract only odd numbers in the list
list(filter(lambda x: x % 2 != 0, numbers))

[1, 3, 5, 7, 9]

### `reduce`

**Return a single value by applying a function prgressively to every item in the list, working in pairs**

`reduce` is not a built-in function, and must be imported from the `functools` module in the standard library.

(Modules, imports and the standard library will be covered in the next class)

In [71]:
import functools

def multiply_numbers(x, y):
    
    return x * y

# Calculate 5!
numbers = range(1,6)
total = functools.reduce(multiply_numbers, numbers)
total

120

Once again, we can use a lambda function:

In [72]:
functools.reduce(lambda x, y: x*y, numbers)

120

For completeness, this is how you would do this with imperative/procedural programming:

In [75]:
numbers = range(1,6)

product = 1
for number in numbers:
    product *= number
    print(product)

    
product

1
2
6
24
120

120