# Week 2 - August 30 - Data types and operators

## Basics

### Comments

You can use a # to denote a comment line. This line is ignored by the Python interpreter.

For multiline comments, it's best practice to use multiple lines starting with a #

In [ ]:
# This is a comment
# This is also a comment

Alternatively, you can also use a **multiline string** that is not assigned to a variable.

In [ ]:
"""
You can enter a multiline string in this way.
As the value of this string is not assigned to a variable,
the Python interpreter will ignore it.

However, this is generally reserved for docstrings,
i.e, strings used to document functions, classes, and modules.
"""

Note that the string above was still "printed" by Jupyter because is was the last part of the code block. It would not be printed if there was anything under it.

This is important, because it is clear that:
- The python interpreter completely ignores lines starting with #, and hence, that is the preferrred way of commenting.
- The python interpreter does not ignore multiline strings, and this functinalily can actually be used in Docstrings for automating documentation.

### Print

You can use single or double quotes for strings, but the recomendation is to use double quotes.

In [ ]:
print("Albert")

In [ ]:
print('Alberta')

**Okay, but what about quotation marks in strings?**

You can either change the quotes

In [ ]:
print("Hi, this is a 'speciality' here.")

In [ ]:
print('He said, "Hello".')

Or you can you the escape character ( \\ )

In [ ]:
print("He said, \"Hello\".")

### Variables
We will start with the string type,  where we will declare a variable and assign a value to it. In Python, this is done in a single step, adn the variable type does not need to be specified.

In [ ]:
instructor = "Salil"

# In Jupyter, if the last line in a code block is simply a variable, it's value will be printed
instructor

This also works with multiple variables

In [ ]:
city = "Gainesville"
instructor, city

To get the **type** of a variable:

In [ ]:
type(instructor)

And to get its **length**:

In [ ]:
len(instructor)

### Input

In [ ]:
# Declare a variable and get the value from the user
name = input("Enter your name: ")
name

## Operations on strings

You can add (concatenate) strings together:

In [ ]:
"Hello " + instructor

as well as multiply them:

In [ ]:
instructor*3

### Indexing

Python follows zero indexing

In [ ]:
city = "Gainesville"
city[0]

In [ ]:
city[4]

-1 represents the last item in the list

In [ ]:
city[-1]

In [ ]:
city[-2]

### Slicing

In [ ]:
city[0:5]

Note that the item corresponding to the "end" index (4: "e") is not included

In [ ]:
city[:4]

In [ ]:
city[-5:]

### Modifying strings with methods

In [ ]:
any_string = "   Hello, my name is Salil.   "
any_string

In [ ]:
any_string.upper()

In [ ]:
any_string.lower()

Remove leading or trailing whitespace:

In [ ]:
new_string = any_string.strip()
new_string

Split a string into parts by specifying a separator:

In [ ]:
new_string.split("l")

Replace characters:

In [ ]:
new_string.replace("a", "o")

There are many more methods that you can check out: https://www.w3schools.com/python/python_strings_methods.asp

## Python types

### Integer

In [ ]:
a = 7
type(a)

### Float

In [ ]:
b = 13.5
type(b)

In [ ]:
c = 1e2
type(c)
c

### Complex

In [ ]:
d = 25 + 15j
type(d)

You can obtain the real and imaginary parts of a complex variable:

In [ ]:
d.real, d.imag

### Boolean

In [ ]:
12 < 3

In [ ]:
3.0 == 3

Boolean conditionals can also be assigned to a variable:

In [ ]:
test = (5 > 2)
type(test)

In [ ]:
test = False
type(test)

### Operations on numerical types

In [ ]:
a = 3
b = 12.6
a + b

In [ ]:
2.5*10

Double asterix is used to denote exponents

In [ ]:
2**8

In [ ]:
47 / 3.1

You can also obtain the quotient and remainder as follows:

In [ ]:
quotient = 13 // 3
remainder = 13 % 3
quotient, remainder

or in one step with the divmod function:

In [ ]:
quotient, remainder = divmod(13, 3)
quotient, remainder

#### Be careful with float precision!

While this may not affect you most of the time, it is important to be aware of it. The limited precision arises because a float is represented in computer hardware as binary (base 2) fractions.
- In the decimal (base 10) system, 10.25 is repreented as $1025 * 10^{-2}$
- In the binary (base 2) system, it is represented as $164 * 2^{-4}$

In [ ]:
162*2**-4

However, even in the decimal system, not every fraction can be represented as an integer multiple of a power of 10, especially repeating decimals:

In [ ]:
10/3

And further, binary floats cannot even accurately represent every non-repeating decimal as an integer multiple of a power of 2, leading to precision errors:

In [ ]:
(1.03 - 0.42)

In fact, the vast majority of decimal multiples don't have an exact representation as an integer times a power of 2.

In fact, the only multiples of 0.01 between 0 and 1 that can be represented exactly as a binary floating-point number are 0, 0.25, 0.5, 0.75 and 1. All the others are off by a small amount.

While the error may seem small at first, it's magnitude will keep increasing as arithmatic operations are performed.

**It's often better to work with integer types whenever possible.**

### Type casting
Variables can be cast from one type to another

In [ ]:
float(42)

In [ ]:
int(7.9)

Note that the operation above truncates the values of the float. To achieve rounding instead:

In [ ]:
round(7.9)

In [ ]:
# The second input to the round function lets you set the number of decimal places
round(6.6666666666666, 2)

Boolean values are always True, except for a value of 0 or an empty string.

In [ ]:
bool(15)

In [ ]:
bool("Random text")

In [ ]:
bool(0)

In [ ]:
bool("")

#### Dealing with strings

In [ ]:
str(3.14159)

In [ ]:
float("1.2345")

But not always:

In [ ]:
int("1.2345")

In [ ]:
int(float("1.2345"))

**This is important, because user inputs are always taken as strings**

In [ ]:
num_1 = input("Enter the first number: ")
num_2 = input("Enter the second number: ")
num_1 + num_2

In [ ]:
num_1*5

In [ ]:
num_1*num_2

In [ ]:
num_1 = float(input("Enter the first number: "))
num_2 = float(input("Enter the second number: "))
num_1 + num_2

In [ ]:
num_1*num_2

## String formatting

In [ ]:
name = "Salil"
location = "Gainesville"
leg_1 = 352.85773
destination = "Boston"
leg_2 = 707.89373

distance  = leg_1 + leg_2

In [ ]:
print("Hello, " + name + ", and welcome to your layover! We hope you had a pleasant journey from " + location + ". When you reach " + destination + ", you will have travelled " + distance + " miles.")

Now you have to convert the float variable into a string in order to concatenate strings

In [ ]:
print("Hello " + name + ", and welcome to your layover! "
      "We hope you had a pleasant journey from " + location + ". "
      "When you reach " + destination + ", you will have travelled " + str(distance) + " miles.")

**But life is a lot easier with f-strings!**

And your code is a lot more readable too.

In [ ]:
print(f"Hello {name}, and welcome to your layover! "
      f"We hope you had a pleasant journey from {location}. "
      f"When you reach {destination}, you will have travelled {distance} miles.")

This also allows you to format your strings

In [ ]:
print(f"Hello {name}, and welcome to your layover! "
      f"We hope you had a pleasant journey from {location}. "
      f"When you reach {destination}, you will have travelled {distance:.2f} miles.")

You can also use the multiline string

In [ ]:
distance  = leg_1 + leg_2
print(f"""Hello, {name}, and welcome to your layover!


We hope you had a pleasant journey from {location}.
When you reach {destination}, you will have travelled {distance:.2f} miles.""")

While there are a few other ways of formatting strings, f-strings are the recommended (and most readable) method for Python 3.8+. Hence, we will not be covering the other methods in this class.

## Collections / Iterables

There are many types of containers in Python, and it's important to select the right one for your use case.

Here, we will cover the 4 built-in types.

### Lists

**Ordered, mutable, and allow duplicates**

The most common container used in Python.

In [ ]:
numbers = [11, 32, 53, 14, 5]
numbers

In [ ]:
teams = ["Arsenal", "Manchester City", "Tottenham", "Brighton", "Leeds United"]
teams

Lists can contain different data types:

In [ ]:
random_list  = [2, 3.5, "apple", True]
random_list

In [ ]:
type(random_list)

Lists are **indexed and sliced** the same as strings:

In [ ]:
teams[1]

In [ ]:
teams[-1]

In [ ]:
teams[1:3]

You can create a **single-item list**:

In [ ]:
single_item_list = ["item"]
single_item_list

In [ ]:
type(single_item_list)

#### Mutating a list

In [ ]:
numbers = [11, 32, 53, 14, 5]

In [ ]:
numbers[2] = 0
numbers

In [ ]:
numbers[:2] = [100, 200]
numbers

In [ ]:
numbers.reverse()
numbers

##### Inserting items

Inserting more items than indexes passed:

In [ ]:
numbers[1:3] = [777, 999, 555]
numbers

Inserting an item at a specfic index:

In [ ]:
numbers.insert(4, 777)
numbers

Adding one item to the end of the list:

In [ ]:
numbers.append(1)
numbers

##### Removing items

By specific item:

(This method above only removes the first instance of the item in the list.)

In [ ]:
numbers.remove(777)
numbers

In [ ]:
numbers.remove(231323)

By specific index:

In [ ]:
removed = numbers.pop(1)

In [ ]:
numbers

##### Joining lists

In [ ]:
numbers_1 = [1, 2, 3]
numbers_2 = [4, 5, 6]
numbers_1 + numbers_2

In [ ]:
numbers.extend([3.14, 273.15, 98.61])
numbers

The \* operator can also be used to **multiply lists**:

In [ ]:
numbers_1*5

##### Sorting lists

In [ ]:
numbers = [34, 543, 24, 12323, 234]
numbers

In [ ]:
numbers.sort()
numbers

In [ ]:
numbers.sort(reverse=True)
numbers

Also works with strings:

In [ ]:
teams

In [ ]:
teams.sort()
teams

### Tuples

**Ordered, immutable, and allow duplicates**

Writing values to a tuple is also referred to as "packing a tuple".

In [ ]:
outputs = (13.5, "normalized", False)
outputs

In [ ]:
type(outputs)

**Indexing and slicing** works similar to a list:

In [ ]:
outputs[1]

But items in a tuple **cannot be changed**:

In [ ]:
outputs[2] = True

However, you can **add (concatenate) tuples together**:

In [ ]:
tup_1 = (1, 2, 3)
tup_2 = (4, 5)
tup_1 + tup_2

and **multiply** them:

In [ ]:
tup_1*2

To create a **single-item tuple**:

In [ ]:
test_tuple = ("single_item",)
test_tuple

In [ ]:
type(test_tuple)

Do not forget the comma!

In [ ]:
test_tuple = ("single_item")
test_tuple

In [ ]:
type(test_tuple)

#### Unpacking a tuple

Multiple arguments sent to functions, and multiple arguments received from a function are passed as tuples.

For example, when two variables are on the last line of a Jupyter notebook, they are printed as a tuple.

In [ ]:
num_1 = 10
num_2 = 20
num_1, num_2

It is often necessary to "unpack" items from the tuple and assign them to variables

In [ ]:
cfb_teams = ("Alabama", "Ohio State", "Georgia", "Clemson", "Notre Dame", "Texas A&M")

# Unpacking the tuple
(first, second, third, fourth, fifth, sixth) = cfb_teams
first

In [ ]:
fifth

By using the \* operator, you can assign multiple tuple items to a list

In [ ]:
(winner, runner_up, *others) = cfb_teams
winner

In [ ]:
runner_up

In [ ]:
others

### Sets

**Unordered, immutable, and does not allow duplicates**

In [ ]:
fruits = {"apples", "oranges", "grapes"}
fruits

In [ ]:
type(fruits)

#### Adding and removing items from a set.

Adding single items:

In [ ]:
fruits.add("pears")
fruits

Adding multiple items (adding any iterable to a set):

In [ ]:
fruits.update({"bananas", "tomatoes"})
fruits

In [ ]:
fruits.update(["strawberries", "raspberries"])
fruits

Removing an item:

In [ ]:
fruits.remove("tomatoes")
fruits

#### Joining sets

##### Union

In [ ]:
set_1 = {"a", "b", "c"}
set_2 = {"c", "d"}
set_u = set_1.union(set_2)
set_u

Updating in-place:

In [ ]:
set_1.update(set_2)
set_1

##### Intersection

In [ ]:
set_1 = {"a", "b", "c"}
set_2 = {"c", "d"}
set_i = set_1.intersection(set_2)
set_i

Updating in-place:

In [ ]:
set_1 = {"a", "b", "c"}
set_2 = {"c", "d"}
set_1.intersection_update(set_2)
set_1

##### Complement of intersection (NOT in Intersection)

In [ ]:
set_1 = {"a", "b", "c"}
set_2 = {"c", "d"}
set_c = set_1.symmetric_difference(set_2)
set_c

Updating in-place:

In [ ]:
set_1 = {"a", "b", "c"}
set_2 = {"c", "d"}
set_1.symmetric_difference_update(set_2)
set_1

### Dictionaries

**Ordered, mutable, and allow duplicates**

Data is stored in **key: value** pairs.

In [ ]:
arsenal = {
    "full_name": "The Arsenal Football Club",
    "nickname": "The Gunners",
    "location": "London",
    "manager": "Mikel Arteta",
    "founded": 1886,
    "colors": ("red", "white"),
}
arsenal

You can also use the `dict()` constructor:

In [ ]:
manchester_united = dict(
    full_name = "Manchester United Football Club",
    nickname = "The Red Devils",
    location = "Manchester",
    manager = "Erik ten Hag",
    founded = 1878,
    colors = ["red", "black"],
)
manchester_united

Similar constructors exits for the other collections: `list()`, `tuple()`, and `set()`.

**Keys must be unique:**

In [ ]:
manchester_united = dict(
    full_name = "Manchester United Football Club",
    nickname = "The Red Devils",
    location = "Manchester",
    manager = "Erik ten Hag",
    founded = 1878,
    founded = 1902,
    colors = ["red", "black"],
)
manchester_united

#### Accessing items

In [ ]:
arsenal

In [ ]:
arsenal["manager"]

In [ ]:
arsenal.get("location")

You can also get all the keys or values separately.

In [ ]:
arsenal.keys()

In [ ]:
arsenal.values()

Or as an iterable of pairs

In [ ]:
arsenal.items()

This will be useful while looping over a dictionary later.

#### Mutating Dictionaries

Modifying and adding items works exactly the same

In [ ]:
manchester_united

In [ ]:
manchester_united["colors"] = ["red", "black", "white"]
manchester_united

In [ ]:
manchester_united["stadium"] = "Old Trafford"
manchester_united

Another option is to update a dictionary with a new dictionary (to add or modify items).

In [ ]:
arsenal.update({"stadium": "Emirates Stadium"})
arsenal

To remove an item by it's key:

In [ ]:
arsenal.pop("colors")
arsenal

### Common methods between collections

#### Length

In [ ]:
any_list = ['a', 'b', 'c', 'b', 'a']
len(any_list)

In [ ]:
len(arsenal)

#### Checking items

In [ ]:
teams = ["Arsenal", "Manchester City", "Tottenham", "Brighton", "Leeds United"]
"Brighton" in teams

In [ ]:
"Liverpool" in teams

Similar syntax for tuples and sets. For dictionaries, only *keys* can be checked.

In [ ]:
arsenal = {
    "full_name": "The Arsenal Football Club",
    "nickname": "The Gunners",
    "location": "London",
    "manager": "Mikel Arteta",
    "founded": 1886,
    "colors": ("red", "white"),
}
"location" in arsenal

In [ ]:
"London" in arsenal

#### Collection-ception

List of lists:

In [ ]:
north = ["Boston", "New York", "Delaware"]
south = ["Miami", "Atlanta", "Orlando"]
west = ["Los Angeles", "San Francisco", "Seattle"]
divisions = [north, south, west]
divisions

Tuple of dictionaries:

In [ ]:
teams = (arsenal, manchester_united)
teams

We have already seen above that dictionary values can be lists or tuples.

#### Casting

Lists, tuples, and sets can be cast from one type to the other using their respective `list()`, `tuple()`, and `set()` constructors.

In [ ]:
any_list = ['a', 'b', 'c', 'b', 'a']
any_list

In [ ]:
any_tuple = tuple(any_list)
any_tuple

In [ ]:
any_set = set(any_tuple)
any_set

In [ ]:
new_list = list(any_set)
new_list

#### Copying collections

In [ ]:
any_list = ['a', 'b', 'c', 'b', 'a']
any_list

In [ ]:
new_list = any_list
new_list

In [ ]:
any_list[2] = 0
any_list

In [ ]:
new_list

***You cannot copy a list or a dictionary by simply by typing list_2 = list_1. list_2 will only be a reference to list_1, and changes made tp list_1 will automatically be made in list_2.***

***Instead, you can use the `copy` method***

In [ ]:
any_list = ['a', 'b', 'c', 'b', 'a']
any_list

In [ ]:
new_list = any_list.copy()
new_list

In [ ]:
any_list[-1] = 0
any_list

In [ ]:
new_list

***Another way of copying lists is using the `list` constructor***

In [ ]:
any_list = ['a', 'b', 'c', 'b', 'a']
any_list

In [ ]:
new_list = list(any_list)
new_list

In [ ]:
any_list[0] = 0
any_list

In [ ]:
new_list

**Yet another option is copying by slicing, as a slice creates a new list**

In [ ]:
any_list = ['a', 'b', 'c', 'b', 'a']
any_list

In [ ]:
new_list = any_list[:]
new_list

In [ ]:
any_list[2] = 0
any_list

In [ ]:
new_list

#### Clearing and deleting items

`clear` removes all items, but keeps the container.

In [ ]:
any_list = ['a', 'b', 'c', 'b', 'a']
any_list.clear()
any_list

`del` removes the container entirely:

In [ ]:
del any_list
any_list

`del` can also be used to remove single items from collections:

In [ ]:
any_list = ['a', 'b', 'c', 'b', 'a']
del any_list[0]
any_list

In [ ]:
any_dict = {
    "city": "Gainesville",
    "state": "Florida:",
}
del any_dict["state"]
any_dict

In fact, `del` works for all variables:

In [ ]:
a = 42
a

In [ ]:
del a
a