# Week 2 - August 30 - Control flow

**Note:** Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

The number of spaces technically does not matter, as long as it is consistent. However, **4 spaces is the standard**.

## Conditionals

### if

In [ ]:
a = 100
b = 200
if b > a:
    print("b is greater")

### else

In [ ]:
a = 200
b = 100
if b > a:
    print("b is greater")
else:
    print("a is greater")

### elif

In [ ]:
a = 100
b = 100
if b > a:
    print("b is greater")
elif b == a:
    print("a and b are equal")
else:
    print("a is greater")

### Short hand

You can condense one-line conditions:

In [ ]:
if a == b: print("Both are equal")

Or even more powerful, you can use **conditional expressisons / ternary operators**:

In [ ]:
a = 1
b = 10
print("Both are equal") if a == b else print("Both are NOT equal")

You can even have multiple of these in a single line, but at that point you code loses some readability.

In [ ]:
a = 0
b = 0
print("b is greater") if b > a else print ("both are equal") if b == a else print("a is greater")

### Logical Operators

**Boolean conditions**

In [ ]:
condition = True

if condition:
    print("You don't need the == True")

**`not` keyword**

In [ ]:
condition = False

if not condition:
    print("The not keyword checks == False")

It also can check for empty collections (strings, lists, tuples, sets, dictionaries, etc.)

In [ ]:
any_list = []

if any_list:
    print("It's Empty")

And conversely, the following syntax can be used to test if it's not empty:

In [ ]:
any_string = "This is not empty"

if any_string:
    print(any_string)

**`in` keyword**

This is often useful when trying to delete something from a list

In [ ]:
numbers = list(range(10))
numbers.remove(20)
numbers

In [ ]:
if 20 in numbers:
    numbers.remove(20)
numbers

**`and` keyword**

In [ ]:
a = 1
b = 11
c = 111
if c > a and c > b:
    print("c is the greatest")

**`or` keyword**

In [ ]:
if b > a or b > c:
    print("b is the greater than at least one of the others")

### Nested ifs

In [ ]:
if c > 10:
    print("greater than 10")
    if c > 100:
        print("greater than 100")
        if c > 1000:
            print("greater than 1000")

### Pass
`if` statements cannot be empty

In [ ]:
if c > 1000:
    
else:
    print("less than 1000")

The `pass` keyword comes in handy here. It is not ignored, but it results in no operation.

In [ ]:
if c > 1000:
    pass
else:
    print("less than 1000")

## While Loops
Executed statements as long as a condition is `True`

In [ ]:
i = 0
while i < 10:
    i += 1 # Equivalent to i = i + 1
    print(i)

The `else` keyword executes at the end of the loop (when the condition is no longer `True`:

In [ ]:
i = 0
while i < 10:
    i += 1
    print(i)
else:
    print("END")

While loops can have **conditionals** inside them:

In [ ]:
i = 0
while i < 10:
    i += 1
    # Print only even numbers
    if i % 2 == 0:
        print(i)

The `continue` keyword can halts the current iteration of the loop, and continues on to the next one:

In [ ]:
i = 0
while i < 10:
    i += 1
    # Skip the rest of the loop when the number is even, hence only printing odd numbers    
    if i % 2 == 0: 
        continue
    print(i)

The `break` keyword halts a loop (and breaks out of it):

In [ ]:
i = 0
while True:
    i += 1
    print(i)
     # Stop the loop when the number is divisible by 5
    if i % 5 == 0: 
        break

## For Loops
Iterate over an iterable (list, tuple, set, dictionary, etc.)

In [ ]:
teams = ["Arsenal", "Manchester City", "Tottenham", "Brighton", "Leeds United"]
for team in teams:
    print(team)

A string is also iterable:

In [ ]:
for letter in teams[0]:
    print(letter)

The `else` keyword executes at the end of the loop

In [ ]:
for letter in teams[0]:
    print(letter)
else:
    print("END")

Loops can be **nested**:

In [ ]:
for team in teams:
    print(team)
    for letter in teams[0]:
        print(letter)

The `continue` keyword can halts the current iteration of the loop, and continues on to the next one:

In [ ]:
for team in teams:
    if team == "Tottenham":
        continue
    print(team)

The `break` keyword halts a loop (and breaks out of it):

In [ ]:
for team in teams:
    if team == "Tottenham":
        break
    print(team)

### Looping over dictionaries

In [ ]:
arsenal = {
    "full_name": "The Arsenal Football Club",
    "nickname": "The Gunners",
    "location": "London",
    "manager": "Mikel Arteta",
    "founded": 1886,
    "colors": ("red", "white"),
}
arsenal

By default, it loops over the **keys**.

In [ ]:
for x in arsenal:
    print(x)

But you can easily print the **values**:

In [ ]:
for x in arsenal:
    print(arsenal[x])

But, for readability, it's usually better to be more explicit:

In [ ]:
for x in arsenal.keys():
    print(x)

In [ ]:
for x in arsenal.values():
    print(x)

If you need, both, **keys and values**, you can use the `items()` method:

In [ ]:
arsenal.items()

In [ ]:
for key, value in arsenal.items():
    print(f"{key} --> {value}")

### The range method

The `range(start, stop, increment)` function returns a sequence of numbers. The default for the `start` value is 0, and for the `increment` is 1. Just like with slicing, the last `stop` number is not included in the range.

In [ ]:
for x in range(5):
    print(x)

In [ ]:
for x in range(10,20,2):
    print(x)

In [ ]:
for x in range(50,10,-5):
    print(x)

Note that the `range()` function results in a `range object`, not a list or tuple.

In [ ]:
type(range(10))

In [ ]:
list(range(10))

### The enumerate method

Say we have a list to iterate over.

In [ ]:
teams = ["Arsenal", "Manchester City", "Tottenham", "Brighton", "Leeds United"]

In [ ]:
i = 0
while i <(len(teams)):
    print(teams[i])
    i+=1

Our MATLAB experience would probably lead up to write a loop as follows:

In [ ]:
i = 0
for team in teams:
    print(f"Position {i+1} --> {teams[i]}") # i+1 due to Python's zero-indexing
    i += 1

Using `range()`, we can improve it:

In [ ]:
for i in range(len(teams)):
    print(f"Position {i+1} --> {teams[i]}")

While both of those options produce the output we want, it's not *pythonic*.

Instead, use the `enumerate()` method:

In [ ]:
for i, team in enumerate(teams):
    print(f"Position {i+1} --> {team}")

Not only is is more readable, it's also less likely to result in bugs.

## List Comprehension

A shorter syntax to create a new list based on the values of an existing list.

For example, we've seen that we can't perform scalar operations on lists

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers*2

How can we double every number in the list above?

One option:

In [ ]:
doubled_numbers = []
for number in numbers:
    doubled_numbers.append(number*2)
doubled_numbers

Okay, a bit verbose, not too bad.

What if I only wanted a list of just the even numbers doubled?

In [ ]:
doubled_even_numbers = []
for number in numbers:
    if number % 2 == 0:
        doubled_even_numbers.append(number*2)
doubled_even_numbers

**List comprehension offers a more elegant, one-line syntax.**

`[expression for item in iterable if condition == True]`

In [ ]:
doubled_numbers = [number*2 for number in numbers]
doubled_numbers

In [ ]:
doubled_even_numbers = [number*2 for number in numbers if number % 2 == 0]
doubled_even_numbers

### Dictionary comprehension

The same concept can be applied to create a list of dictionaries based on the values from another list.

In [ ]:
teams = ["Arsenal", "Manchester City", "Tottenham", "Brighton", "Leeds United"]

pl_teams = []
for team in teams:
    pl_teams.append({
        "Team": team, 
        "League": "Premier League"
    })
pl_teams

With comprehension:

In [ ]:
pl_teams = [{"Team": team, "League": "Premier League"} for team in teams]
pl_teams

To simply even further:

In [ ]:
pl_teams = {team: "Premier League" for team in teams}
pl_teams

## Python Keywords and built-in functions

So far, we have used plenty on **keywords**, such as `del`, `in`, `not`, `True`, `False`, `if`, `elif`, `else`, `while`, `for`, `and`, `or`, `break`,`continue`,`pass`, etc. These keywords are reserved and cannot be used for variable names (or function/class names).

It's useful to know the list of keywords to avoid trying to use them as variable names. These words are usually colored differently in most IDEs and advanced text editors (green in Jupyter and purple in Spyder), so it's not that hard to avoid.
https://www.w3schools.com/python/python_ref_keywords.asp

However, not all built-in functions are keywords, and it is possible to break some python functionality by using variable names that may correspond to built-in functions. IDEs will try to help you out here with the color-coding as well.

For example:

In [ ]:
print = 42
print

In [ ]:
del print

In [ ]:
print(f"Hello, {name} World")

This error occured because when we named the list as `print`, it "overwrote" the call to the function that prints to screen.

This is also why we didn't name any lists as "list":

In [ ]:
tup = (1, 2, 3)
tup

In [ ]:
list(tup)

In [ ]:
list = ['a', 'b', 'c']
list

In [ ]:
list(tup)

Some may not be that obvious, like the `sum()` function:

In [ ]:
numbers = [213, 4214, 124, 414, 24]
sum(numbers)

In [ ]:
sum = 3488 + 4793
sum

In [ ]:
sum(numbers)

***Be careful with your variable names!*** Pay attention to the colors.